{% extends 'type/base_for_input.html' %}

{% block content %}
<body class="bg-theme bg-theme1">

    <!-- start loader -->
       <div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner" ><div class="loader"></div></div></div></div>
       <!-- end loader -->
    
    <!-- Start wrapper-->
     <div id="wrapper">
    
     <div class="loader-wrapper"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
        <div class="card card-authentication1 mx-auto my-5">
            <div class="card-body">
             <div class="card-content p-2">
                 <div class="text-center">
                     <img src="/static/assets/images/logo-icon.png" alt="logo icon">
                 </div>
              <div class="card-title text-uppercase text-center py-3">Faculty form</div>
              {% if msg %}
              <label class="bg-danger-light1">{{msg}}</label>
              {% endif %}
    <form method="POST" action="{% url 'addfaculty' %}">

<!-- This code is copy from form.py  -->
        <!-- fields = ['faculty_name','email','subject','department_name','password'] -->
      {% csrf_token %}
<!-- This is for 'faculty_name' -->
      <div class="form-group">
        <label for="exampleInputUsername" class="sr-only">Name :</label>
         <div class="position-relative has-icon-right">
          <input type="text" id="exampleInputUsername" class="form-control input-shadow" name='faculty_name' placeholder="Enter Faculty">
          <div class="form-control-position">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16">
                <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5M.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5"/>
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
              </svg>
          </div>
         </div>
    </div>


<!-- This is for 'faculty_name' -->
<div class="form-group">
    <label for="exampleInputUsername" class="sr-only">Email Id :</label>
     <div class="position-relative has-icon-right">
      <input type="email" id="exampleInputUsername" class="form-control input-shadow" name='email' placeholder="abc@gmail.com">
      <div class="form-control-position">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
            <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671"/>
            <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z"/>
          </svg>
      </div>
     </div>
</div>

<!-- This is for 'Password' -->
<div class="form-group">
    <label for="exampleInputUsername" class="sr-only">Password :</label>
     <div class="position-relative has-icon-right">
      <input type="text" id="exampleInputUsername" class="form-control input-shadow" name='password' placeholder="***0">
      <div class="form-control-position">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
            <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8m4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5"/>
            <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
          </svg>
      </div>
     </div>
</div>


        {{form.as_p}}
        <button type="submit" class="btn btn-light btn-block">Add Faculty</button>
    </form> 
</div>
</div>
 
</div>
</div>

<!--Start Back To Top Button-->
<a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
<!--End Back To Top Button-->

<!--start color switcher-->
<div class="right-sidebar">
<div class="switcher-icon">
<i class="zmdi zmdi-settings zmdi-hc-spin"></i>
</div>
<div class="right-sidebar-content">

<p class="mb-0">Gaussion Texture</p>
<hr>

<ul class="switcher">
<li id="theme1"></li>
<li id="theme2"></li>
<li id="theme3"></li>
<li id="theme4"></li>
<li id="theme5"></li>
<li id="theme6"></li>
</ul>

<p class="mb-0">Gradient Background</p>
<hr>

<ul class="switcher">
<li id="theme7"></li>
<li id="theme8"></li>
<li id="theme9"></li>
<li id="theme10"></li>
<li id="theme11"></li>
<li id="theme12"></li>
<li id="theme13"></li>
<li id="theme14"></li>
<li id="theme15"></li>
</ul>

</div>
</div>
<!--end color switcher-->

</div><!--wrapper-->
{% endblock  %}